body {
    background-color: lightgrey;
    padding: 3px;
    text-align: center;
}

.flexbox {
    background-color: deepskyblue;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    padding: 10px;
}

.flexbox > div {
    width: 33%;
    height: 100px;
    text-align: center;
    /* justify-content: center; */
}

h1 {
    text-align: center;
}

.title {
    color: white;
}

img {
    max-width: 45%;
}

.section {
    padding-left: 12%;
    padding-right: 12%;
}